<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMMLabware xmlns:version="0.00">
  <MMLabware>
    <Id>e39bb322-1882-4216-8861-82701591ed3e</Id>
    <Name>Teach96_DDX</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>DynamicDevices</Manufacturer>
    <Notes />
    <Color>-16777216</Color>
    <WellColor>-65536</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>65</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>0</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>7.2</WellWidth>
    <WellLength>7.2</WellLength>
    <WellWidthBottom>7.2</WellWidthBottom>
    <WellLengthBottom>7.2</WellLengthBottom>
    <StackHeight>67.5</StackHeight>
    <Category>Tipbox</Category>
    <TipType>Teach96_DDX</TipType>
    <TipTypeId>0b290ecb-dcf2-4ea1-992d-f8249338a964</TipTypeId>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>0</LidBottom>
    <FlangeHeight>0</FlangeHeight>
  </MMLabware>
</ArrayOfMMLabware>