<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMMTipType xmlns:version="1.00">
  <MMTipType>
    <Name>Teach96_DDX</Name>
    <Id>0b290ecb-dcf2-4ea1-992d-f8249338a964</Id>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Volume>100</Volume>
    <Length>75</Length>
    <OrificeDiameter>0.5</OrificeDiameter>
    <LoadingDepths>LV;10.00</LoadingDepths>
    <HPCorrectionDataTable />
    <PartNumber />
  </MMTipType>
</ArrayOfMMTipType>