<?xml version="1.0" encoding="utf-8"?>
<DynamicDevices.Components xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <_ConfigDir>C:\Users\Documents\MM_Config</_ConfigDir>
  <Custom1 comment="123"></Custom1>
  <Custom2 comment="456">some stuff</Custom2>
    <GantryRobotArm>
      <Name>Left</Name>
      <XAxisName>XL</XAxisName>
      <YAxisName>YL</YAxisName>
      <ZAxisNames>ZL, BarCodeZAxis</ZAxisNames>
      <ReferenceTool>VVP96</ReferenceTool>
      <XSafePos></XSafePos>
      <YSafePos></YSafePos>
      <Enabled>true</Enabled>
      <ReverseX></ReverseX>
      <ReverseY></ReverseY>
      <ReverseZ></ReverseZ>
      <XHomeLeft>true</XHomeLeft>
      <YHomeRear>false</YHomeRear>
      <ZTravel>10</ZTravel>
    </GantryRobotArm>
  <Axis>
    <Name>XL</Name>
    <Type>Warp3Core.Warp3</Type>
    <Assembly>Warp3Core</Assembly>
    <Connection>10.0.0.161</Connection>
    <ConnectionType>TCP</ConnectionType>
    <Enabled>true</Enabled>
    <IniFile>X Axis.xml</IniFile>
    <UseIO>true</UseIO>
    <DebugOutput>None</DebugOutput>
  </Axis>
  <Axis>
    <Name>YL</Name>
    <Type>Warp3Core.Warp3</Type>
    <Assembly>Warp3Core</Assembly>
    <Connection>10.0.0.162</Connection>
    <ConnectionType>TCP</ConnectionType>
    <Enabled>true</Enabled>
    <IniFile>Y Axis.xml</IniFile>
    <UseIO>true</UseIO>
    <DebugOutput>None</DebugOutput>
  </Axis>
  <Axis>
    <Name>ZL</Name>
    <Type>Warp3Core.Warp3</Type>
    <Assembly>Warp3Core</Assembly>
    <Connection>10.0.0.163</Connection>
    <ConnectionType>TCP</ConnectionType>
    <Enabled>true</Enabled>
    <IniFile>Z Axis.xml</IniFile>
    <UseIO>true</UseIO>
    <DebugOutput>None</DebugOutput>
  </Axis>
  <Axis>
    <Name>BarCodeZAxis</Name>
    <Type>Warp3Core.Warp3</Type>
    <Assembly>Warp3Core</Assembly>
    <Connection>10.0.0.165</Connection>
    <ConnectionType>TCP</ConnectionType>
    <Enabled>true</Enabled>
    <IniFile>BarCode Z.xml</IniFile>
    <UseIO>true</UseIO>
    <DebugOutput>None</DebugOutput>
  </Axis>
  <PipetteTool>
    <Name>VVP96</Name>
    <Type>MMVvpPipettor.MMVVP</Type>
    <Assembly>MMVvpPipettor</Assembly>
    <Connection>10.0.0.178</Connection>
    <ConnectionType>TCP</ConnectionType>
    <IniFile></IniFile>
    <MaxVolume>1250</MaxVolume>
    <Enabled>true</Enabled>
    <GantryRobotArm>Left</GantryRobotArm>
    <ZAxis>ZL</ZAxis>
    <Description>96-channel VVP</Description>
    <TipEjectOutput>Lynx.XL.0</TipEjectOutput>
    <DispenseResVolData></DispenseResVolData>
    <AspirateResVolData></AspirateResVolData>
    <TipEjectDefaultHeight>8</TipEjectDefaultHeight>
    <TipEjectCycles>2</TipEjectCycles>
    <TipLoadDelay>0.5</TipLoadDelay>
    <TipLoadXYHolding>20</TipLoadXYHolding>
    <TipLoadXYErrorLimit>50</TipLoadXYErrorLimit>
    <TipLoadZErrorLimit>10</TipLoadZErrorLimit>
	<TipLoadRelaxSteps>5</TipLoadRelaxSteps>
	<TipLoadRelaxDelay>0.1</TipLoadRelaxDelay>
    <MandrelType>MLV</MandrelType>
 </PipetteTool>
  <LightTower>
    <Name>LightTower</Name>
    <Type>MMLightTowers.MMIOLightTower</Type>
    <Assembly>MMLightTowers</Assembly>
    <Enabled>true</Enabled>
    <Description>Three color light tower using Warp3 IO's</Description>
	<Red> Lynx.YL.0 </Red>
    <Green>Lynx.YL.2</Green>
    <BlinkingRed>Lynx.YL.0</BlinkingRed>
	<Yellow>Lynx.YL.1</Yellow>
  </LightTower>
  <Gripper>
    <Name>Gripper</Name>
    <Type>MMGrippers.MMHeadGripper</Type>
    <Assembly>MMGrippers</Assembly>
    <Connection></Connection>
    <ConnectionType></ConnectionType>
    <GantryRobotArm>Left</GantryRobotArm>
    <ZAxis>BarCodeZAxis</ZAxis>
    <Description>Simple head gripper</Description>
    <IniFile></IniFile>
    <Enabled>true</Enabled>
    <DebugOutput>None</DebugOutput>
        <IsGripUnder>False</IsGripUnder>
        <GripPoint>0</GripPoint>
        <_FullOpenCoord></_FullOpenCoord>
        <_OpenForPlateCoord></_OpenForPlateCoord>
        <_CloseOnPlateCoord></_CloseOnPlateCoord>
        <_GripperStowCoord></_GripperStowCoord>
        <ZStowCoord>0</ZStowCoord>
        <ZCarryCoord>30</ZCarryCoord>
        <_FixedWorktable></_FixedWorktable>
        <PutExtraHeight>0</PutExtraHeight>
        <AdjustXForZ></AdjustXForZ>
        <AdjustYForZ></AdjustYForZ>
        <Outputs>Lynx.BarCodeZAxis.0,Lynx.BarCodeZAxis.1,Lynx.BarCodeZAxis.2,Lynx.BarCodeZAxis.3,Lynx.BarCodeZAxis.4</Outputs>
        <Inputs>Lynx.BarCodeZAxis.0,Lynx.BarCodeZAxis.1</Inputs>
        <XOffset>154</XOffset>
        <YOffset>1.81</YOffset>
        <ZOffset>-82</ZOffset>
        <LocationXOffset></LocationXOffset>
        <LocationYOffset></LocationYOffset>
  </Gripper>
  <CustomComponents></CustomComponents>
</DynamicDevices.Components>
