<?xml version="1.0" encoding="utf-16"?>
<ArrayOfMMLocationToolFilter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MMLocationToolFilter>
    <Name>Loc_04</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_05</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_06</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_07</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_08</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_09</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_10</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_11</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_12</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_13</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_14</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_15</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_16</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_17</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_18</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_01</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_02</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
  <MMLocationToolFilter>
    <Name>Loc_03</Name>
    <BlockedToolNames />
  </MMLocationToolFilter>
</ArrayOfMMLocationToolFilter>