<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMMLabware xmlns:version="0.00">
  <MMLabware>
    <Id>ac223af1-27b4-481b-88ca-cfe4e795e16a</Id>
    <Name>Reservoir</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>generic</Manufacturer>
    <Notes />
    <Color>-8388353</Color>
    <WellColor>-5185306</WellColor>
    <Rows>1</Rows>
    <Cols>1</Cols>
    <Height>44.04</Height>
    <Length>127.76</Length>
    <Width>85.5</Width>
    <WellDepth>39.2</WellDepth>
    <WellRowSpacing>0.1</WellRowSpacing>
    <WellColSpacing>0.1</WellColSpacing>
    <PipetteToA01CenterRowOffset>-31.5</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>-49.5</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>-33.75</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>-51.75</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>42.7</A01CenterRowOffset>
    <A01CenterColOffset>63.8</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>false</WellIsCircular>
    <WellWidth>72</WellWidth>
    <WellLength>108</WellLength>
    <WellWidthBottom>72</WellWidthBottom>
    <WellLengthBottom>108</WellLengthBottom>
    <StackHeight>35.15</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>4</LidHeight>
    <LidBottom>42</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>ccf51e63-41c6-41b7-b065-a0cb8ab2daea</Id>
    <Name>LXB 300uL Copy</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Biotix</Manufacturer>
    <Notes>Volume 300uL</Notes>
    <Color>LightBlue</Color>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>54</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>0</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>20</ZClear>
    <ZTipTouch>0</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>9</WellWidth>
    <WellLength>0</WellLength>
    <WellWidthBottom>0</WellWidthBottom>
    <WellLengthBottom>0</WellLengthBottom>
    <StackHeight>0</StackHeight>
    <Category>Tipbox</Category>
    <TipType>LXB 300uL Copy</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>0</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>0</LidBottom>
    <FlangeHeight>0</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>35ac7edd-23a8-4259-a489-1b835b4c0f71</Id>
    <Name>96 FlatBottom</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Costar</Manufacturer>
    <Notes>Volume 360uL, Cat. No. 3650,3916,3915,3361,3590,9018,3591,9017,3641,3628,3370,2507,2509,2503,3841,3600,3362,3917,3912,9017,9018,3641,3925,3922,3596,3977,3598,3599,3585,3595,3300,3474,3841</Notes>
    <Color>-984833</Color>
    <WellColor>-5185306</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>14.5</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>10.95</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>3</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.8</WellWidth>
    <WellLength>1</WellLength>
    <WellWidthBottom>6.25</WellWidthBottom>
    <WellLengthBottom>0.1</WellLengthBottom>
    <StackHeight>13</StackHeight>
    <Category>Plate</Category>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>10</LidHeight>
    <LidBottom>7</LidBottom>
    <FlangeHeight>5</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>a3589fb8-8348-4748-b635-d1e90c8532c2</Id>
    <Name>96 DeepWell</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Unknown</Manufacturer>
    <Notes>VWR catalog # 40002-020</Notes>
    <Color>-16711681</Color>
    <WellColor>-5185306</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>28</Height>
    <Length>127.76</Length>
    <Width>85.5</Width>
    <WellDepth>26</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>2.5</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.25</WellWidth>
    <WellLength>6</WellLength>
    <WellWidthBottom>6.25</WellWidthBottom>
    <WellLengthBottom>5.9</WellLengthBottom>
    <StackHeight>27</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>TaperedBottom</TaperCode>
    <TaperHeight>9.5</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>3</LidHeight>
    <LidBottom>28</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>150a7039-9a25-4e65-bbdb-25afaab18625</Id>
    <Name>96 PCR</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Eppendorf</Manufacturer>
    <Notes>Part number 951020539</Notes>
    <Color>-332841</Color>
    <WellColor>-5185306</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>14.2</Height>
    <Length>127.76</Length>
    <Width>85.5</Width>
    <WellDepth>10.67</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.86</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>12.97</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>2</LidHeight>
    <LidBottom>13</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>1e66cd27-0634-4c65-9955-06dc654ff21e</Id>
    <Name>384 FlatBottom</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Costar</Manufacturer>
    <Notes>Volume 360uL, Cat. No. 3650,3916,3915,3361,3590,9018,3591,9017,3641,3628,3370,2507,2509,2503,3841,3600,3362,3917,3912,9017,9018,3641,3925,3922,3596,3977,3598,3599,3585,3595,3300,3474,3841</Notes>
    <Color>-744352</Color>
    <WellColor>-5185306</WellColor>
    <Rows>16</Rows>
    <Cols>24</Cols>
    <Height>14.5</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>10.75</WellDepth>
    <WellRowSpacing>4.5</WellRowSpacing>
    <WellColSpacing>4.5</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>8.99</A01CenterRowOffset>
    <A01CenterColOffset>12.13</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>0.7</ZTipTouch>
    <WellIsCircular>false</WellIsCircular>
    <WellWidth>3.4</WellWidth>
    <WellLength>3.4</WellLength>
    <WellWidthBottom>3.4</WellWidthBottom>
    <WellLengthBottom>3.4</WellLengthBottom>
    <StackHeight>13.2</StackHeight>
    <Category>Plate</Category>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>10</LidHeight>
    <LidBottom>7</LidBottom>
    <FlangeHeight>5</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>9d110c2a-8587-439c-9c3f-8624dd705dce</Id>
    <Name>96 Plate Zero Thickness</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Costar</Manufacturer>
    <Notes>Volume 360uL, Cat. No. 3650,3916,3915,3361,3590,9018,3591,9017,3641,3628,3370,2507,2509,2503,3841,3600,3362,3917,3912,9017,9018,3641,3925,3922,3596,3977,3598,3599,3585,3595,3300,3474,3841</Notes>
    <Color>-32944</Color>
    <WellColor>-5185306</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>4</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>3.9</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>20</ZClear>
    <ZTipTouch>0</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.86</WellWidth>
    <WellLength>1</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>0.1</WellLengthBottom>
    <StackHeight>1</StackHeight>
    <Category>Plate</Category>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>10</LidHeight>
    <LidBottom>7</LidBottom>
    <FlangeHeight>5</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>fadded5c-f10a-4970-a289-8b627933cdc3</Id>
    <Name>Tube Rack DDI</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>DDI</Manufacturer>
    <Notes />
    <Color>-16760704</Color>
    <WellColor>-1</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>34.9</Height>
    <Length>127.76</Length>
    <Width>85.5</Width>
    <WellDepth>33.5</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1.5</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.8</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>6.3</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>33</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>TaperedBottom</TaperCode>
    <TaperHeight>6.25</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>4</LidHeight>
    <LidBottom>33</LidBottom>
    <FlangeHeight>1</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>56a70430-5e93-40ae-99d7-7c5449684c9e</Id>
    <Name>384 DW</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Unknown</Manufacturer>
    <Notes />
    <Color>-4144960</Color>
    <WellColor>-663885</WellColor>
    <Rows>16</Rows>
    <Cols>24</Cols>
    <Height>25</Height>
    <Length>127.76</Length>
    <Width>85.5</Width>
    <WellDepth>21.8</WellDepth>
    <WellRowSpacing>4.5</WellRowSpacing>
    <WellColSpacing>4.5</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>8.99</A01CenterRowOffset>
    <A01CenterColOffset>12.13</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>false</WellIsCircular>
    <WellWidth>3.63</WellWidth>
    <WellLength>3.63</WellLength>
    <WellWidthBottom>2.67</WellWidthBottom>
    <WellLengthBottom>2.67</WellLengthBottom>
    <StackHeight>23</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>0</LidBottom>
    <FlangeHeight>0</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>4b8a0af9-7558-49c4-8e2f-ea82ddeea2ed</Id>
    <Name>2ml Vial Rack</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Unknown</Manufacturer>
    <Notes />
    <Color>-10069149</Color>
    <WellColor>-1</WellColor>
    <Rows>4</Rows>
    <Cols>6</Cols>
    <Height>46.6</Height>
    <Length>127.76</Length>
    <Width>85.5</Width>
    <WellDepth>40.38</WellDepth>
    <WellRowSpacing>18</WellRowSpacing>
    <WellColSpacing>18</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>15.74</A01CenterRowOffset>
    <A01CenterColOffset>18.88</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>9.7</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>46.6</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>2</LidHeight>
    <LidBottom>46</LidBottom>
    <FlangeHeight>5</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>81a1783f-2a84-4c75-bb3d-b5e73e078040</Id>
    <Name>Test for color</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Unknown</Manufacturer>
    <Notes />
    <Color>-16776961</Color>
    <WellColor>-1</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>14.2</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>10.67</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.86</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>13</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>1</LidBottom>
    <FlangeHeight>0</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>3aa6da3f-2131-4f12-9fa5-3dd5ab1337fb</Id>
    <Name>96 FlatBottom Copy</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Costar</Manufacturer>
    <Notes>Volume 360uL, Cat. No. 3650,3916,3915,3361,3590,9018,3591,9017,3641,3628,3370,2507,2509,2503,3841,3600,3362,3917,3912,9017,9018,3641,3925,3922,3596,3977,3598,3599,3585,3595,3300,3474,3841</Notes>
    <Color>-32768</Color>
    <WellColor>-16711936</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>14.5</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>10.95</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>3</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.8</WellWidth>
    <WellLength>1</WellLength>
    <WellWidthBottom>6.25</WellWidthBottom>
    <WellLengthBottom>0.1</WellLengthBottom>
    <StackHeight>13</StackHeight>
    <Category>Plate</Category>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>10</LidHeight>
    <LidBottom>7</LidBottom>
    <FlangeHeight>5</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>517f35e2-64b8-407d-a5a5-b135fc356368</Id>
    <Name>Nunc 1ml</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Nunc</Manufacturer>
    <Notes />
    <Color>-32768</Color>
    <WellColor>-5185306</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>31.5</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>29</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>2.5</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>8.3</WellWidth>
    <WellLength>6</WellLength>
    <WellWidthBottom>6.25</WellWidthBottom>
    <WellLengthBottom>5.9</WellLengthBottom>
    <StackHeight>27</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>TaperedBottom</TaperCode>
    <TaperHeight>5</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>28</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>88b7fa98-978f-4a35-bb8c-19ab6448c5ef</Id>
    <Name>LabChip</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Eppendorf</Manufacturer>
    <Notes>Part number 951020539</Notes>
    <Color>-16777216</Color>
    <WellColor>PowderBlue</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>12.5</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>0.5</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>false</WellIsCircular>
    <WellWidth>6.86</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>11</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>2</LidHeight>
    <LidBottom>13</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>a4919fbd-0e1b-40b7-bd16-8d5756c5d1f6</Id>
    <Name>Eppendorf PCR</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Eppendorf</Manufacturer>
    <Notes>Part number 951020539</Notes>
    <Color>-332841</Color>
    <WellColor>-5185306</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>15.6</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>13.91</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.86</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>13</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>13</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>a9e152b7-2f60-4ac8-9825-59b8d93e7b01</Id>
    <Name>Covaris_Dispense</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Eppendorf</Manufacturer>
    <Notes>Part number 951020539</Notes>
    <Color>-16777216</Color>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>19</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>15</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.7</A01CenterRowOffset>
    <A01CenterColOffset>13</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>5</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.5</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>1</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>18</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>13</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>49ea5887-4a3c-42f7-bc0c-6d74995d66a9</Id>
    <Name>Covaris_Aspirate</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Eppendorf</Manufacturer>
    <Notes>Part number 951020539</Notes>
    <Color>-16777216</Color>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>19</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>16</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.7</A01CenterRowOffset>
    <A01CenterColOffset>13</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>5</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>4.5</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>1</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>18</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>13</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>337983ae-ea2f-4d88-80d2-12fbf99e966b</Id>
    <Name>Covaris</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Eppendorf</Manufacturer>
    <Notes>Part number 951020539</Notes>
    <Color>AliceBlue</Color>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>19</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>15</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>5</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.5</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>1</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>18</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>13</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>c7e519d5-963d-4a1f-a943-7f862e0103e4</Id>
    <Name>ARTEL Plate</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Unknown</Manufacturer>
    <Notes />
    <Color>-8355712</Color>
    <WellColor>PowderBlue</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>14.2</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>10.67</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>15</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.86</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>13</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>1</LidBottom>
    <FlangeHeight>0</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>a962dbcb-62be-4dff-aba5-8725dcb07190</Id>
    <Name>Fluidx_1mL_Tube_rack</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Fluidx</Manufacturer>
    <Notes />
    <Color>-2987746</Color>
    <WellColor>-5185306</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>48</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>45.2</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>5</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.5</WellWidth>
    <WellLength>6.5</WellLength>
    <WellWidthBottom>4.5</WellWidthBottom>
    <WellLengthBottom>4.5</WellLengthBottom>
    <StackHeight>47.5</StackHeight>
    <Category>Plate</Category>
    <TipType>N/A</TipType>
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>3</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>28</LidBottom>
    <FlangeHeight>3</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>92a63fc9-83d8-43aa-ac55-b21e9b7e0f9f</Id>
    <Name>AutoFillTrough Copy</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Unknown</Manufacturer>
    <Notes />
    <Color>-8355712</Color>
    <WellColor>-5185306</WellColor>
    <Rows>1</Rows>
    <Cols>1</Cols>
    <Height>42.8</Height>
    <Length>127.8</Length>
    <Width>85.5</Width>
    <WellDepth>22</WellDepth>
    <WellRowSpacing>2.25</WellRowSpacing>
    <WellColSpacing>2.25</WellColSpacing>
    <PipetteToA01CenterRowOffset>-31.5</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>-49.5</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>-33.75</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>-51.75</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>42.7</A01CenterRowOffset>
    <A01CenterColOffset>63.8</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>false</WellIsCircular>
    <WellWidth>72</WellWidth>
    <WellLength>108</WellLength>
    <WellWidthBottom>72</WellWidthBottom>
    <WellLengthBottom>108</WellLengthBottom>
    <StackHeight>35.2</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>1</LidBottom>
    <FlangeHeight>0</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>0ecaf4d7-0914-4503-a734-f57d75212c36</Id>
    <Name>Axygen 500uL</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Unknown</Manufacturer>
    <Notes />
    <Color>-8355712</Color>
    <WellColor>-5185306</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>14.7</Height>
    <Length>127.8</Length>
    <Width>85.4</Width>
    <WellDepth>14.65</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>10.75</A01CenterRowOffset>
    <A01CenterColOffset>14.5</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>false</WellIsCircular>
    <WellWidth>8.15</WellWidth>
    <WellLength>8.15</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>13</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>VBottom</TaperCode>
    <TaperHeight>3.7</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>1</LidBottom>
    <FlangeHeight>0</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>a965cb31-3eaa-4f75-bba5-2b0d9958e17c</Id>
    <Name>TipOffPlate</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Unknown</Manufacturer>
    <Notes />
    <Color>-16744448</Color>
    <WellColor>-4144960</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>9</Height>
    <Length>128</Length>
    <Width>85.5</Width>
    <WellDepth>8.9</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>11.24</A01CenterRowOffset>
    <A01CenterColOffset>14.38</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>6.86</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>6.35</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>9</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>FlatBottom</TaperCode>
    <TaperHeight>0</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>0</LidHeight>
    <LidBottom>1</LidBottom>
    <FlangeHeight>0</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>60c53096-dfcf-4130-bafd-9ca7fcedcddf</Id>
    <Name>2D Tube Rack_0.5mL</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Matrix</Manufacturer>
    <Notes>Tube P/N 3743 (clear cap), 3744 (clear cap), 3745 (no cap).</Notes>
    <Color>-16711936</Color>
    <WellColor>-65536</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>32.6</Height>
    <Length>127.76</Length>
    <Width>85.5</Width>
    <WellDepth>29.6</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>13.4</A01CenterRowOffset>
    <A01CenterColOffset>16.3</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>7</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>4.5</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>29</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>TaperedBottom</TaperCode>
    <TaperHeight>5.5</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>40</LidHeight>
    <LidBottom>1</LidBottom>
    <FlangeHeight>1</FlangeHeight>
  </MMLabware>
  <MMLabware>
    <Id>d7d48ed9-7e3e-4605-a7ca-17d53338dd6d</Id>
    <Name>2D Tube Rack_1.0mL</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Manufacturer>Matrix</Manufacturer>
    <Notes>Tube P/N 3740 (clear cap), 3741 (clear cap), 3742 (no cap). </Notes>
    <Color>-16711936</Color>
    <WellColor>-663885</WellColor>
    <Rows>8</Rows>
    <Cols>12</Cols>
    <Height>44</Height>
    <Length>127.76</Length>
    <Width>85.5</Width>
    <WellDepth>42.5</WellDepth>
    <WellRowSpacing>9</WellRowSpacing>
    <WellColSpacing>9</WellColSpacing>
    <PipetteToA01CenterRowOffset>0</PipetteToA01CenterRowOffset>
    <PipetteToA01CenterColOffset>0</PipetteToA01CenterColOffset>
    <PipetteToA01CenterRowOffset4_5>0</PipetteToA01CenterRowOffset4_5>
    <PipetteToA01CenterColOffset4_5>0</PipetteToA01CenterColOffset4_5>
    <A01CenterRowOffset>8.5</A01CenterRowOffset>
    <A01CenterColOffset>11.8</A01CenterColOffset>
    <ZClear>10</ZClear>
    <ZTipTouch>1</ZTipTouch>
    <WellIsCircular>true</WellIsCircular>
    <WellWidth>7.4</WellWidth>
    <WellLength>6.86</WellLength>
    <WellWidthBottom>4.5</WellWidthBottom>
    <WellLengthBottom>6.35</WellLengthBottom>
    <StackHeight>43</StackHeight>
    <Category>Plate</Category>
    <TipType />
    <TaperCode>TaperedBottom</TaperCode>
    <TaperHeight>5.5</TaperHeight>
    <SquareAreaAdjust>1</SquareAreaAdjust>
    <VolumeDataTable />
    <LidHeight>70</LidHeight>
    <LidBottom>1</LidBottom>
    <FlangeHeight>1</FlangeHeight>
  </MMLabware>
</ArrayOfMMLabware>