<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMMMotionProfile xmlns:version="0.00">
  <MMMotionProfile>
    <Id>51a71737-313e-42f6-a3a0-699fddc11f59</Id>
    <Name>Mid Speed</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>Mid XY</X>
    <Y>Mid XY</Y>
    <Z>Medium Z</Z>
    <ZExtend>Medium Z</ZExtend>
    <ZRetract>Medium Z</ZRetract>
  </MMMotionProfile>
  <MMMotionProfile>
    <Id>078ef46e-38f6-42dd-9d56-1a1256871a79</Id>
    <Name>Fast Speed</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>Fast XY</X>
    <Y>Fast XY</Y>
    <Z>Fast Z</Z>
    <ZExtend>Fast Z</ZExtend>
    <ZRetract>Fast Z</ZRetract>
  </MMMotionProfile>
  <MMMotionProfile>
    <Id>10184268-7f20-49b0-86c2-65aff8751d2a</Id>
    <Name>Slow Speed</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>Slow XY</X>
    <Y>Slow XY</Y>
    <Z>Slow Z</Z>
    <ZExtend>Slow Z</ZExtend>
    <ZRetract>Slow Z</ZRetract>
  </MMMotionProfile>
  <MMMotionProfile>
    <Id>e88524ef-6c5d-40ad-8275-b1946002ad63</Id>
    <Name>Tip Load</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>Fast XY</X>
    <Y>Fast XY</Y>
    <Z>Medium Z</Z>
    <ZExtend>TipLoad Z</ZExtend>
    <ZRetract>TipLoad Z</ZRetract>
  </MMMotionProfile>
  <MMMotionProfile>
    <Id>4f86a55d-15ec-456a-b78e-7e320f756eaf</Id>
    <Name>Tip Eject</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>Fast XY</X>
    <Y>Fast XY</Y>
    <Z>Medium Z</Z>
    <ZExtend>TipLoad Z</ZExtend>
    <ZRetract>TipLoad Z</ZRetract>
  </MMMotionProfile>
  <MMMotionProfile>
    <Id>14e1bd82-73e2-4eee-b885-8d994f36b68c</Id>
    <Name>Get Plate</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>Fast XY</X>
    <Y>Fast XY</Y>
    <Z>Gripper Z Get</Z>
    <ZExtend>Gripper Z Get</ZExtend>
    <ZRetract>Gripper Z Get</ZRetract>
  </MMMotionProfile>
  <MMMotionProfile>
    <Id>fb72bbda-8a36-432f-8df9-284a97568d90</Id>
    <Name>Move Plate</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>MovePlate XY</X>
    <Y>MovePlate XY</Y>
    <Z>Gripper Z Get</Z>
    <ZExtend>Gripper Z Get</ZExtend>
    <ZRetract>Gripper Z Get</ZRetract>
  </MMMotionProfile>
  <MMMotionProfile>
    <Id>139e264c-1989-42de-967d-2e0013610350</Id>
    <Name>LLD</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>Fast XY</X>
    <Y>Fast XY</Y>
    <Z>Medium Z</Z>
    <ZExtend>LLD Z</ZExtend>
    <ZRetract>Medium Z</ZRetract>
  </MMMotionProfile>
  <MMMotionProfile>
    <Id>338653bb-c1f7-4742-96e9-7b6c0753ff1c</Id>
    <Name>Mid Speed Slow Enter/Exit</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <X>Mid XY</X>
    <Y>Mid XY</Y>
    <Z>Medium Z</Z>
    <ZExtend>Slow Z</ZExtend>
    <ZRetract>Slow Z</ZRetract>
  </MMMotionProfile>
</ArrayOfMMMotionProfile>