<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMMPipetteScheme xmlns:version="0.00">
  <MMPipetteScheme>
    <Id>1e17da1f-10a9-4022-8ce9-eb19fc3f4c3e</Id>
    <Name>Invitae Below 5uL Pipette</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Acceleration>5</Acceleration>
    <Deceleration>5</Deceleration>
    <Flowrate>1</Flowrate>
    <Cutoff>0</Cutoff>
    <CalibrationM>1.3</CalibrationM>
    <CalibrationX>1.25</CalibrationX>
    <CalibrationX2>0.05</CalibrationX2>
    <UseCalibrationCurve>false</UseCalibrationCurve>
    <PreDelay>0</PreDelay>
    <PostDelay>0.5</PostDelay>
  </MMPipetteScheme>
</ArrayOfMMPipetteScheme>