<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMMAxisSpeed xmlns:version="0.00">
  <MMAxisSpeed>
    <Id>eb035dab-cb55-48b3-b8c0-8b5441d16a12</Id>
    <Name>Fast XY</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>750</Velocity>
    <Accel>1000</Accel>
    <Decel>1000</Decel>
    <Jerk>5000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>86588c5f-07cc-4ad0-a107-c1dcad7ac110</Id>
    <Name>Mid XY</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>400</Velocity>
    <Accel>800</Accel>
    <Decel>800</Decel>
    <Jerk>3000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>1fba5e4e-3206-403b-9106-b7783954d1ba</Id>
    <Name>Slow XY</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>200</Velocity>
    <Accel>400</Accel>
    <Decel>400</Decel>
    <Jerk>2000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>6c25951d-c98c-47ee-9ba2-920ecc7ac0f0</Id>
    <Name>Very Slow XY</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>50</Velocity>
    <Accel>400</Accel>
    <Decel>400</Decel>
    <Jerk>2000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>762ba8b3-f6a5-4c44-8ff5-adfb27509194</Id>
    <Name>Fast Z</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>200</Velocity>
    <Accel>300</Accel>
    <Decel>300</Decel>
    <Jerk>3000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>674c8e2d-2b04-466d-833b-dce2933f83fb</Id>
    <Name>Medium Z</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>150</Velocity>
    <Accel>300</Accel>
    <Decel>300</Decel>
    <Jerk>3000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>dfae6ef4-1b30-4d85-8691-2ff8d81ad9ac</Id>
    <Name>Slow Z</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>30</Velocity>
    <Accel>300</Accel>
    <Decel>300</Decel>
    <Jerk>3000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>ba784610-4ef3-43db-b85a-61105173b63c</Id>
    <Name>TipLoad Z</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>10</Velocity>
    <Accel>300</Accel>
    <Decel>300</Decel>
    <Jerk>3000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>abc51fed-210b-4797-b863-abfd8b6580c2</Id>
    <Name>TipEject Z</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>30</Velocity>
    <Accel>300</Accel>
    <Decel>300</Decel>
    <Jerk>3000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>7d1f3f33-538a-4a09-be37-de301e54910d</Id>
    <Name>LLD Z</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>1</Velocity>
    <Accel>5</Accel>
    <Decel>5</Decel>
    <Jerk>250</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>e9f5beba-969e-4133-9c02-9c54dc05be53</Id>
    <Name>MovePlate XY</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>100</Velocity>
    <Accel>300</Accel>
    <Decel>300</Decel>
    <Jerk>10000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>cd84af97-ad5f-4670-83fb-3c0c1ab40d08</Id>
    <Name>Gripper Z Get</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>70</Velocity>
    <Accel>100</Accel>
    <Decel>100</Decel>
    <Jerk>1000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
  <MMAxisSpeed>
    <Id>015a73eb-ea5a-4780-9d82-22d314d04b6c</Id>
    <Name>Very Slow Z</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Velocity>1.25</Velocity>
    <Accel>25</Accel>
    <Decel>25</Decel>
    <Jerk>3000</Jerk>
    <StartVelocity>0</StartVelocity>
    <Cutoff>0</Cutoff>
  </MMAxisSpeed>
</ArrayOfMMAxisSpeed>