<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMMPipettePressure xmlns:version="0.00">
  <MMPipettePressure>
    <Id>aef73491-179c-4fd2-b361-86c0019467af</Id>
    <Name>Mid-Range Volumes</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>40</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>10</LldTipDryingTime>
    <CloggingLimit>50</CloggingLimit>
    <AirToLiquidSensitivity1>10</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-10</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>be4593b8-05bf-4ef7-a023-8f5763a0fe00</Id>
    <Name>Below 5 microliters</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>25</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>1</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>7ff68c6b-c576-4eba-8b03-b882c303f488</Id>
    <Name>LLD</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>15</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>60</LldTipDryingPressure>
    <LldTipDryingTime>2</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>646e130c-a89e-4992-918a-60d5cfce7848</Id>
    <Name>Standard</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>50</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>10</LldTipDryingTime>
    <CloggingLimit>50</CloggingLimit>
    <AirToLiquidSensitivity1>4</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-10</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>b2baad47-d9a3-4ddd-b294-d69c27cc8431</Id>
    <Name>High Pressure</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>150</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>1</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>d317305d-95be-42a8-a533-f5859f188de3</Id>
    <Name>Low Volume</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>30</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>1</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>9b3bf058-61e2-40ea-a752-c93aa7355942</Id>
    <Name>Jet Dispense</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>225</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>1</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>12ddb882-c45a-48c2-a413-3a6333d12bc6</Id>
    <Name>Very Low Volume</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>30</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>1</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>2aef7cdd-997a-4422-8f8d-bda19a677161</Id>
    <Name>Mid Jet Pressure</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>125</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>1</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>4b375c6d-9ba7-4af5-9062-621993b0d28c</Id>
    <Name>High Volume</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>120</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>1</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
  <MMPipettePressure>
    <Id>9fb43179-b490-4070-8963-6c590ed90dfe</Id>
    <Name>Extremely slow</Name>
    <ReadOnly>false</ReadOnly>
    <Display>false</Display>
    <Pressure>15</Pressure>
    <PreDelay>0</PreDelay>
    <PostDelay>1</PostDelay>
    <LldTipDryingPressure>45</LldTipDryingPressure>
    <LldTipDryingTime>1</LldTipDryingTime>
    <CloggingLimit>1</CloggingLimit>
    <AirToLiquidSensitivity1>1</AirToLiquidSensitivity1>
    <LiquidToAirSensitivity2>-1</LiquidToAirSensitivity2>
    <DetectionSensitivity3>-1</DetectionSensitivity3>
  </MMPipettePressure>
</ArrayOfMMPipettePressure>