<?xml version="1.0" encoding="utf-8"?>
<Workspace xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>LM703</Name>
  <Devices>
    <Device>
      <Name>Logic</Name>
      <Id>05fb9ae8-0bef-44ae-939d-9bcda4238c84</Id>
      <ClassId>96875bc4-0900-4418-84f2-2d6069cb78fb</ClassId>
      <ClassName>Core</ClassName>
      <DeviceType>MethodManager.CoreDevice.Device.MMCoreDevice</DeviceType>
    </Device>
    <Device>
      <Name>Lynx</Name>
      <Id>2776287b-aaeb-4fcc-9481-c994542e4ade</Id>
      <ClassId>7d57d0f8-0b50-462e-a49e-baf3eb24b66b</ClassId>
      <ClassName>Liquid Handler Device</ClassName>
      <DeviceType>MMRobotDevices.MMLiquidHandler</DeviceType>
    </Device>
  </Devices>
</Workspace>