<?xml version="1.0" encoding="utf-8"?>
<ArrayOfString>
  <string>Stamp_150ul.met</string>
  <string>Norm.met</string>
  <string>ChipLoad_150ul.met</string>
  <string>InitializeLynx.met</string>
  <string>testing\delete.met</string>
  <string>ReadWorklist_CreateVariables.cs</string>
  <string>GetPostExtractionNormWorklist_Createvariables.cs</string>
  <string>ReadStampDilWorklist_CreateVariables.cs</string>
  <string>Maintenance\WeeklyBarrelCheck.met</string>
  <string>testing\AXYGEN.met</string>
</ArrayOfString>